<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title><%= yield :title %></title>

    <%= stylesheet_link_tag 'portal', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right" role="tablist">
          <li role="presentation" class="<%= controller_path == 'home' ? 'active' : nil %>"><a href="<%= root_path %>">多空网</a></li>
          <!-- <li role="presentation" class="<%= controller_path == 'best' ? 'active' : nil %>"><a href="#">高手们</a></li> -->
					<% if logged?%>
            <li role="presentation"><%= link_to '个人空间', user_path(@user) %></li>
						<li role="presentation" class='dropdown'>
              <%= link_to '设置', "#", {class: 'dropdown-toggle', 'data-toggle'.to_sym => "dropdown", 'aria-expanded'.to_sym => "false"} %>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to '个人资料', profile_path %></li>
                <li><%= link_to t('logout'), logout_path %></li>
              </ul>
            </li>
          <% else %>
						<li role="presentation" class="<%= controller_path == 'login' ? 'active' : nil %>"><%= link_to t('login'), login_path %></li>
          	<li role="presentation" class="<%= controller_path == 'users' and controller.action_name == 'new' ? 'active' : nil %>"><%= link_to '注册', register_path %></li>
					<% end %>
        </ul>
        <h3 class="text-muted"><%= t'site.name' %></h3>
      </div>
			
			<%= yield %>

      <div class="footer">
        <p>&copy; <%= t'site.name'%> 2014</p>
      </div>

    </div> <!-- /container -->

  </body>
</html>
