<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title><%= @user.nick_name %> - <%= t('site.name')%></title>

    <%= stylesheet_link_tag 'user', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item active" href="<%= @user.id %>">个人空间</a>
          <a class="blog-nav-item" href="<%= root_path %>"><%= t'site.name'%></a>
          <% if logged?%>
            <li role="presentation" class='pull-right dropdown' style='display: block;'>
              <%= link_to '设置', "#", {class: 'blog-nav-item pull-right dropdown-toggle', 'data-toggle'.to_sym => "dropdown", 'aria-expanded'.to_sym => "false"} %>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to '个人资料', profile_path %></li>
                <li><%= link_to '登录密码', set_p_path %></li>
                <li><%= link_to t('logout'), logout_path %></li>
              </ul>
            </li>
          <% else %>
            <a class="blog-nav-item pull-right" href="<%= register_path %>">注册</a>
            <a class="blog-nav-item pull-right" href="<%= login_path %>"><%= t('_login') %></a>
          <% end %>
        </nav>
      </div>
    </div>

    <div class="container">

      <div class="blog-header">
        <h1 class="blog-title"><%= @user.nick_name%></h1>
        <p class="lead blog-description">大盘竞猜，当前<%= @user.all_kill.to_i %>连中。 <%= unless @user.memo.blank?; "#{@user.nick_name}：#{@user.memo}"; end%></p>
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">
          <%= yield %>
        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4><%= @user.nick_name%>的竞猜数据</h4>
            <p>共猜了<%= @all_count %>次</p>
            <p>猜中了<%= @correct_count %>次</p>
            <p>准确率<%= @correct_rate %>%</p>
            <p>最高<%= @max_all_kill.to_i %>连中</p>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

    <div class="blog-footer">
      <p><%= @user.nick_name %> &copy; <%= t'site.name'%> 2014&nbsp;|&nbsp;<%= link_to '网站愿景', about_path %></p>
      <p>
        <a href="#">回到顶部</a>
      </p>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- // <script src="../../assets/js/docs.min.js"></script> -->
  </body>
</html>
